<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav nav-sticky">
            <img src= "../css/Capture.jpg" alt="LOGO" class="nav__icon">
            <ul class="nav__links">
                <li class="nav__items">
                    <a class="nav__link nav__line" href="#">Home</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__line" href="#">About</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__line" href="contact.html">Contact</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__line" href="#">Features</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__link--btn" href="/registration">Register</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__link--btn nav__link--btn--login" href="/login">Login</a>
                </li>

            </ul>
        </nav>
    </header>
</body>
</html>