<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Project for 8th semester</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header class="header">
        <nav class="nav nav-sticky">
            <img src= "../css/Capture.jpg" alt="LOGO" class="nav__icon">
            <ul class="nav__links">
                <li class="nav__items">
                    <a class="nav__link nav__line" href="#">Home</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__line" href="#">About</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__line" href="/contact">Contact</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__line" href="#">Features</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__link--btn" href="/registration">Register</a>
                </li>
                <li class="nav__items">
                    <a class="nav__link nav__link--btn nav__link--btn--login" href="/login">Login</a>
                </li>

            </ul>
        </nav>

        <div class="container">
            <div class="text">
                <h1>Focus on
                   <span class="highlight">produing</span> a
                    <span class="highlight">blog</span> that's
                    <span class="highlight">great for your readers</span>
                </h1>
                <a href="#" class="writeblog">Write a Blog &rarr;</a>
            </div>
            <div class="image">
                <!-- imagephoto -->
            </div>

            
        </div>
        
    </header>
    <hr class="hrline">
    <section class=" section section_feature">

        
        <h1 class="headh1">Features</h1>
    <div class="feature_container">
        
        <div class="feature-images presentation images__feature">
            
        </div>
        <div class="feature-text">
            <div class="boxes">
                
                <svg class="svgs">
                    <use xlink:href="./symbol-defs.svg#icon-map2"></use>
                </svg>
            
                <h1 class="h1heading">&quot;Dynamic presentation&quot;</h1>
            </div>
            <p class="para">A blog page should be dynamic in type. Here being dynamic represents the interactiveness. The prime aim of a blog is to grab attention by making the visitors more engaged. Hence, the blog page does need that type of presentation which should be dynamic by nature. Blogs are not static like websites are, rather it should be dynamic.</p>
        </div>
        <div class="feature-text">
            <div class="boxes">
                <svg class="svgs">
                    <use xlink:href="./symbol-defs.svg#icon-compass2"></use>
                </svg>
                <h1 class="h1heading">&quot;Easy navigation&quot;</h1>
            </div>
            <p class="para">Make your blog site really resourceful by creating rich content and make them navigate easily through the friendly navigation bar. In this case, highly rich navigable menus are a must on your site.</p>
        </div>
        <div class="feature-images navigation images__feature">
            
        </div>
        <div class="feature-images Security images__feature">
            
        </div>
        <div class="feature-text">
            <div class="boxes">
                <svg class="svgs">
                    <use xlink:href="./symbol-defs.svg#icon-lock"></use>
                </svg>
                
                <h1 class="h1heading">&quot;Security&quot;</h1>
            </div>
            <p class="para">Your blog site should be secured. Along with the help of some plugins like Sucuri and Wordfence, there are some manual techniques to secure your blog site from different kinds of threats. You can also have a spam protection facility for your blog. In this case, you can use the Akismet anti-spam plugin. So make sure that your site is totally free of threats and spamming.</p>
        </div>
    </div>
</section>
<section class=" section section_email-subs">

    <hr class="hrline2">
    <h1 class="headh2">Email SUbscription</h1>
    <div class="email_subs">
        <div class="conatin">
            <input type="email" class="text1">
            <a href="#" class="writeblog">&larr; email Subs</a>
        </div>
    </div>
</section>
<section class="section-conatact">
    <hr class="hrline3">

    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22495.15442540745!2d76.75779505767983!3d30.381949356079165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fc8eda9494875%3A0x6e0614a69f242cd2!2sRailway%20Rd%2C%20Ambala%2C%20Haryana%20134003!5e0!3m2!1sen!2sin!4v1649874942344!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

<section class="footer">
    <footer class="footer_src">
        <h1 class="footer_head">Stay Connected</h1>
        <img src= "../css/Capture.jpg" alt="LOGO" class="nav__icon footer_logo">
        <p class="footer_paragraph">This website is made with &hearts; &copy; Copyright by <b class="bold">HUNNY</b></p>
    </footer>
</section>

</body>
</html>