<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body class="booking">
    <div class="container">
        <h1 class="login_headline">LOGIN FORM</h1>
        <div class="book_surf">
            <form action="/login" class="form" method="POST">
                
                    
                    <div class="form_group">
                        <input type="email" class="form_input" placeholder="Email" id="email" name="email" autocomplete="off" required>
                        <label for="email" class="form_label">Email</label>
                    </div>
                    <div class="form_group">
                        <input type="password" class="form_input" placeholder="Password" id="password" name="password" autocomplete="off" required>
                        <label for="password" class="form_label">Password</label>
                    </div>

                
                   <a href="/forget" class="white_link">Forgot Password</a> <br>

                    <button class="form_Submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>