<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/password_not_match.css">
    <title>Document</title>
</head>
<body>
    <h1 class="pass">Password are not match</h1>
    <img src="../../../img/pass.png" class="passimg" alt="Password">
    <img src="../../../img/red cross.jpg" class="passimg2" alt="Password">
</body>
</html>